body{
    margin: 0px;
    display: grid;
    background-image: url(../Imagenes/cine4.jpg);
}


#tabla-Horarios{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(100px,auto);
    margin-top: 10px;
    border-collapse: collapse;
    border: 2px solid #0ad647;
    /* table-layout: fixed; */
    width: 100%;
    color:red;
    width: 100vw;
    height: 100vh;
    
}

#tabla-Horarios>table{
    border-collapse: collapse;
    border: solid green 3px;
}

td,th {
    border: 2px solid #0ad647; 
    padding: 10px 5px;      
    word-wrap: break-word;  /* Por si una palabra es muy larga, que no rompa la tabla */
}

td:hover{
    background-color: cornflowerblue;
}
th:hover{
    background-color: yellow;
}

#lunes{
    grid-column: 1;
    grid-row: 1;
}





