body{
    margin: 0px;
    display: grid;
    

    background-image: url(../Imagenes/cine4.jpg);
}


#tabla-Horarios{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(100px,auto);
    margin-top: 10px;
    border-collapse: collapse;
    border: 2px solid #0ad647;
    
    width: 100%;
    color:red;
    width: 100vw;
    height: 100vh;
    
}

#tabla-Horarios>table{
    border-collapse: collapse;
    border: solid green 3px;
    height: 66.3vh;
}

td,th {
    border: 2px solid #0ad647; 
    padding: 10px 5px;      
    word-wrap: break-word;  
}

td:hover{
    background-color: cornflowerblue;
}
th:hover{
    background-color: yellow;
}

#lunes{
    grid-column: 2;
    grid-row: 1;
}

#mario{
    grid-column: 1;
    grid-row:1;

}

.seleccionDia{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
}

.seleccionDia>input{
    margin:5px;

}

.cantEntradas{
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    margin-left: 15px;
    
}

#boton-seleccionar{
   margin: 5px 15px 0px 0px;
   
   
}