body{
    background-color: rgb(29, 25, 73);
    color: yellow;
    display:grid;
   
}


#Formulario{
    display: grid;
    padding: 2px;
    border: 2px solid white;
    place-content: center;
    width:25vw;
    height:60vh;
    
}

#Formulario>input{
    margin:0px 0px 10px 0px;
}

#Formulario>label{
    margin:5px;
}

#form{
    display:grid;
    justify-content: center;
    
}

